html {
    height: 100%;
    width: 100%;
}

/* home screen paragraph */
body {
    font-family:'Arial, sans-serif';
    background-color:#bdd0d4 ;
    color:rgb(35, 78, 94) ;
    align-items: center; 
}
 
/* home screen image */
.main-image { 
    display: block;  /* ensures image is almost like a block element */ 
    margin: 0 auto; 
    width: 80%;
    max-width: 500px; 
    border-radius: 8px; 
}

p {
    text-align: center; 
    margin-bottom: 5px; 
    line-height: 1.4; 

}

.top-right-button {
    position: absolute; 
    top: 20px; /* distance from top */
    right: 20px /* distance from right */
    background-color: #4682B4; 
    color: black; 
    padding: 10px 15px; /* space between */
    font-size: 16px; 
    cursor: pointer; 
    border-radius: 5px; 
}
    
.top-right-button: hover {
    background-color: #4682B4; 
}


/* gallery images (how they display on screen) */
.gallery-image {
    display: block; 
    width: 300px; 
    height: 200px; 
    margin: 10px ;  /* centers image */

}

.external-link a {
    color: #008CBA; 
    font-size: 18px; 
    text-decoration: none; 
}
    
.external-link a:hover {
    text-decoration: underline; 
}

/* offical bora bora page */
    
.official-link {
    text-align:center; 
    margin-top: 10px; 
}

.official-link a {
    font-size: 18px; 
    color: #5681cc; 
    font-weight: bold; 
    text-decoration: none; 
}
.official-link a:hover {
    font-size: 18px; 
    color: #3c6aba; 
    text-decoration: underline; 
    font-weight: bold;
}

/* selection of images button */
.image-button { 
    display: inline-block; 
    background-color: #4682B4;
    color: white; 
    font-size: 16px; 
    padding: 12px 18px; 
    margin: 10px; 
    border-radius:8px; 
    text-decoration: none;
    font-weight: bold; 
    transition: 0.3s; 
}

/* seperately shows pictures */
content {
    display: none; 
    margin-top: 20px; 
}

.content:target {
    display: block; 
}
    
    .official-link { 
        color: #3d76c0; 
        font-weight: bold; 
        text-decoration: none; 
    } 
    
    .official-link:hover { 
        color: #323e85; 
        text-decoration: underline; 
    } 
    
