html {
    height: 100%;
    width: 100%;
}

body {
    background-color:#bdd0d4 ;
  
    color:rgb(35, 78, 94) ;
    
    font-family:'Times New Roman';
    text-align: center;
}

a{
    color:antiquewhite
    text-decoration:none
}

a:hover{
    color: 230, 220, 195 
    text-decoration:underline
}