html {
    height: 100%;
    width: 100%;
}

body {
    background-color:rgb(189, 208, 212) ;
  
    color:rgb(35, 78, 94) ;
    
    font-family: 'Times New Roman';
    text-align: center;
}

a:hover {
    color: #3d7291; 
    text-decoration: underline;
}